* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input,
select,
textarea {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-ThinIta.eot");
  src: local("Helvetica Now Display Thin Ita"), local("HelveticaNowDisplay-ThinIta"), url("HelveticaNowDisplay-ThinIta.eot?#iefix") format("embedded-opentype"), url("HelveticaNowDisplay-ThinIta.woff2") format("woff2"), url("HelveticaNowDisplay-ThinIta.woff") format("woff"), url("HelveticaNowDisplay-ThinIta.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-Light.eot");
  src: local("Helvetica Now Display Light"), local("HelveticaNowDisplay-Light"), url("HelveticaNowDisplay-Light.eot?#iefix") format("embedded-opentype"), url("HelveticaNowDisplay-Light.woff2") format("woff2"), url("HelveticaNowDisplay-Light.woff") format("woff"), url("HelveticaNowDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-BoldIta.eot");
  src: local("Helvetica Now Display Bold Ita"), local("HelveticaNowDisplay-BoldIta"), url("HelveticaNowDisplay-BoldIta.eot?#iefix") format("embedded-opentype"), url("HelveticaNowDisplay-BoldIta.woff2") format("woff2"), url("HelveticaNowDisplay-BoldIta.woff") format("woff"), url("HelveticaNowDisplay-BoldIta.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-RegIta.eot");
  src: local("Helvetica Now Display Reg Ita"), local("HelveticaNowDisplay-RegIta"), url("HelveticaNowDisplay-RegIta.eot?#iefix") format("embedded-opentype"), url("HelveticaNowDisplay-RegIta.woff2") format("woff2"), url("HelveticaNowDisplay-RegIta.woff") format("woff"), url("HelveticaNowDisplay-RegIta.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-ExtLtIta.eot");
  src: local("Helvetica Now Display ExtLt Ita"), local("HelveticaNowDisplay-ExtLtIta"), url("HelveticaNowDisplay-ExtLtIta.eot?#iefix") format("embedded-opentype"), url("HelveticaNowDisplay-ExtLtIta.woff2") format("woff2"), url("HelveticaNowDisplay-ExtLtIta.woff") format("woff"), url("HelveticaNowDisplay-ExtLtIta.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-MedIta.eot");
  src: local("Helvetica Now Display Med Ita"), local("HelveticaNowDisplay-MedIta"), url("HelveticaNowDisplay-MedIta.eot?#iefix") format("embedded-opentype"), url("HelveticaNowDisplay-MedIta.woff2") format("woff2"), url("HelveticaNowDisplay-MedIta.woff") format("woff"), url("HelveticaNowDisplay-MedIta.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-ExtLt.eot");
  src: local("Helvetica Now Display ExtLt"), local("HelveticaNowDisplay-ExtLt"), url("HelveticaNowDisplay-ExtLt.eot?#iefix") format("embedded-opentype"), url("HelveticaNowDisplay-ExtLt.woff2") format("woff2"), url("HelveticaNowDisplay-ExtLt.woff") format("woff"), url("HelveticaNowDisplay-ExtLt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-ExtBlk.eot");
  src: local("Helvetica Now Display ExtBlk"), local("HelveticaNowDisplay-ExtBlk"), url("HelveticaNowDisplay-ExtBlk.eot?#iefix") format("embedded-opentype"), url("HelveticaNowDisplay-ExtBlk.woff2") format("woff2"), url("HelveticaNowDisplay-ExtBlk.woff") format("woff"), url("HelveticaNowDisplay-ExtBlk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-Bold.eot");
  src: local("Helvetica Now Display Bold"), local("HelveticaNowDisplay-Bold"), url("HelveticaNowDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("HelveticaNowDisplay-Bold.woff2") format("woff2"), url("HelveticaNowDisplay-Bold.woff") format("woff"), url("HelveticaNowDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-ExtBdIta.eot");
  src: local("Helvetica Now Display ExtBd Ita"), local("HelveticaNowDisplay-ExtBdIta"), url("HelveticaNowDisplay-ExtBdIta.eot?#iefix") format("embedded-opentype"), url("HelveticaNowDisplay-ExtBdIta.woff2") format("woff2"), url("HelveticaNowDisplay-ExtBdIta.woff") format("woff"), url("HelveticaNowDisplay-ExtBdIta.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-Regular.eot");
  src: local("Helvetica Now Display Regular"), local("HelveticaNowDisplay-Regular"), url("HelveticaNowDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("HelveticaNowDisplay-Regular.woff2") format("woff2"), url("HelveticaNowDisplay-Regular.woff") format("woff"), url("HelveticaNowDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-ExtBlkIta.eot");
  src: local("Helvetica Now Display ExBlk It"), local("HelveticaNowDisplay-ExtBlkIta"), url("HelveticaNowDisplay-ExtBlkIta.eot?#iefix") format("embedded-opentype"), url("HelveticaNowDisplay-ExtBlkIta.woff2") format("woff2"), url("HelveticaNowDisplay-ExtBlkIta.woff") format("woff"), url("HelveticaNowDisplay-ExtBlkIta.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-Thin.eot");
  src: local("Helvetica Now Display Thin"), local("HelveticaNowDisplay-Thin"), url("HelveticaNowDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("HelveticaNowDisplay-Thin.woff2") format("woff2"), url("HelveticaNowDisplay-Thin.woff") format("woff"), url("HelveticaNowDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-LightIta.eot");
  src: local("Helvetica Now Display Light Ita"), local("HelveticaNowDisplay-LightIta"), url("HelveticaNowDisplay-LightIta.eot?#iefix") format("embedded-opentype"), url("HelveticaNowDisplay-LightIta.woff2") format("woff2"), url("HelveticaNowDisplay-LightIta.woff") format("woff"), url("HelveticaNowDisplay-LightIta.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-ExtraBold.eot");
  src: local("Helvetica Now Display ExtBd"), local("HelveticaNowDisplay-ExtraBold"), url("HelveticaNowDisplay-ExtraBold.eot?#iefix") format("embedded-opentype"), url("HelveticaNowDisplay-ExtraBold.woff2") format("woff2"), url("HelveticaNowDisplay-ExtraBold.woff") format("woff"), url("HelveticaNowDisplay-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-Medium.eot");
  src: local("Helvetica Now Display Medium"), local("HelveticaNowDisplay-Medium"), url("HelveticaNowDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("HelveticaNowDisplay-Medium.woff2") format("woff2"), url("HelveticaNowDisplay-Medium.woff") format("woff"), url("HelveticaNowDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-HairlineI.eot");
  src: local("Helvetica Now Display Hairline"), local("HelveticaNowDisplay-HairlineI"), url("HelveticaNowDisplay-HairlineI.eot?#iefix") format("embedded-opentype"), url("HelveticaNowDisplay-HairlineI.woff2") format("woff2"), url("HelveticaNowDisplay-HairlineI.woff") format("woff"), url("HelveticaNowDisplay-HairlineI.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-BlackIta.eot");
  src: local("Helvetica Now Display Black Ita"), local("HelveticaNowDisplay-BlackIta"), url("HelveticaNowDisplay-BlackIta.eot?#iefix") format("embedded-opentype"), url("HelveticaNowDisplay-BlackIta.woff2") format("woff2"), url("HelveticaNowDisplay-BlackIta.woff") format("woff"), url("HelveticaNowDisplay-BlackIta.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-Black.eot");
  src: local("Helvetica Now Display Black"), local("HelveticaNowDisplay-Black"), url("HelveticaNowDisplay-Black.eot?#iefix") format("embedded-opentype"), url("HelveticaNowDisplay-Black.woff2") format("woff2"), url("HelveticaNowDisplay-Black.woff") format("woff"), url("HelveticaNowDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-Hairline.eot");
  src: local("Helvetica Now Display Hairline"), local("HelveticaNowDisplay-Hairline"), url("HelveticaNowDisplay-Hairline.eot?#iefix") format("embedded-opentype"), url("HelveticaNowDisplay-Hairline.woff2") format("woff2"), url("HelveticaNowDisplay-Hairline.woff") format("woff"), url("HelveticaNowDisplay-Hairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
body {
  background-color: #000;
  color: #fff;
  font-family: "Helvetica Now Display", Arial, Helvetica, sans-serif;
  font-display: fallback;
}
body header {
  position: fixed;
  width: 100%;
  height: 80px;
  align-items: center;
  transition: top 0.3s ease-in-out;
}
body header .header-menu {
  height: 80px;
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 32px;
  border-bottom: 1px solid #282828;
}
@media screen and (max-width: 768px) {
  body header .header-menu .header-menu-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 33%;
    height: inherit;
  }
  body header .header-menu .header-menu-left .menu-toggle {
    display: none;
  }
  body header .header-menu .header-menu-left .menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5.6px;
    justify-content: center;
    align-items: center;
    height: 24px;
  }
  body header .header-menu .header-menu-left .menu-icon span {
    display: block;
    width: 24px;
    height: 2.4px;
    background-color: #fff;
    border-radius: 16px;
  }
}
@media screen and (min-width: 1024px) {
  body header .header-menu .header-menu-left {
    display: none;
    position: absolute;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  body header .header-menu .header-menu-left {
    display: none;
    position: absolute;
  }
}
body header .header-menu .header-menu-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: inherit;
}
@media screen and (max-width: 768px) {
  body header .header-menu .header-menu-center {
    width: 33%;
  }
}
@media screen and (min-width: 1024px) {
  body header .header-menu .header-menu-center {
    width: 67%;
  }
}
body header .header-menu .header-menu-center .menu-logo {
  width: 2em;
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/c46845952588bf44125a37117d4da32c.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
body header .header-menu .header-menu-center .ext-nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3em;
  font-size: 0.75rem;
}
@media screen and (max-width: 768px) {
  body header .header-menu .header-menu-center .ext-nav-ul {
    display: none;
    position: absolute;
  }
}
body header .header-menu .header-menu-center .ext-nav-ul .nav-desplegable-button {
  background-color: transparent;
  border: none;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  body header .header-menu .header-menu-center .ext-nav-ul .ext-nav-mas {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  body header .header-menu .header-menu-center .ext-nav-ul .pc-nav-tienda, body header .header-menu .header-menu-center .ext-nav-ul .pc-nav-asistencia {
    display: none;
  }
}
body header .header-menu .header-menu-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 33%;
  height: inherit;
}
body header .header-menu .header-menu-right .menu-right-extended {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
  height: inherit;
}
@media screen and (max-width: 768px) {
  body header .header-menu .header-menu-right .menu-right-extended {
    position: absolute;
    display: none;
  }
}
body header .header-menu .header-menu-right .menu-right-extended .right-ext-launcher {
  background-color: #fcaf17;
  color: #000;
  min-width: max-content;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  line-height: 100%;
  padding: 0.75em 1em;
  text-transform: uppercase;
}
body header .header-menu .header-menu-right .menu-right-extended .ext-search-button {
  background-color: transparent;
  border: none;
  color: #fff;
  width: 25px;
}
@media screen and (max-width: 768px) {
  body header .header-menu .header-menu-right .menu-right-extended .ext-search-button {
    position: absolute;
    display: none;
  }
}
body header .header-menu .header-menu-right .menu-signin {
  cursor: pointer;
  width: 2em;
  height: inherit;
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/a29e26aa160e7be7e845708c335b3c39.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
body main .main-site .slider {
  padding-top: 80px;
  display: grid;
  width: 100%;
  height: fit-content;
}
@media screen and (max-width: 768px) {
  body main .main-site .slider {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  body main .main-site .slider {
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    align-items: center;
  }
}
body main .main-site .slider .slider-image {
  display: flex;
  background-image: url(https://videos-rockstargames-com.akamaized.net/v4/rkoCtr1r/art/global.jpg);
  width: 100%;
  height: fit-content;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  aspect-ratio: 16/9;
  overflow: hidden;
}
body main .main-site .slider .slider-card {
  width: 100%;
  height: 100%;
  background-color: red;
  padding: 32px;
  display: grid;
  gap: 32px;
}
@media screen and (max-width: 768px) {
  body main .main-site .slider .slider-card {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 1024px) {
  body main .main-site .slider .slider-card {
    grid-template-rows: 1fr 1fr;
    align-items: end;
  }
}
body main .main-site .slider .slider-card .slider-text {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}
body main .main-site .slider .slider-card .slider-text .slider-text-content {
  background-color: green;
  display: grid;
  width: 100%;
  height: fit-content;
}
body main .main-site .slider .slider-card .slider-text .slider-text-content p {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.6;
  font-stretch: condensed;
}
body main .main-site .slider .slider-card .slider-text .slider-text-content h2 {
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: -0.5px;
  font-weight: bold;
}
body main .main-site .slider .slider-card .slider-text .button-now {
  display: flex;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  margin-top: 30px;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 100%;
  padding: 1rem 3rem;
  text-transform: uppercase;
  min-width: max-content;
  display: inline-block;
  overflow: visible;
}
body main .main-site .slider .slider-card .slide-buttons {
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  width: 100%;
  height: fit-content;
}
body main .main-site .slider .slider-card .slide-buttons .slide-button-first {
  background-color: #fff;
  border: none;
  height: 12px;
  width: 48px;
  line-height: 1.15;
  border-radius: 16px;
  cursor: pointer;
}
body main .main-site .slider .slider-card .slide-buttons .slide-button-next {
  border-radius: 50%;
  background-color: #666666;
  border: none;
  cursor: pointer;
  line-height: 1.15;
  padding: 0.4em;
}
body main .main-site .main-sections {
  margin: 0px 32px;
}
body main .main-site .main-sections .newswire {
  display: flex;
  width: fit-content;
  flex-direction: column;
  padding: 32px 0px;
}
body main .main-site .main-sections .newswire h3 {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 0 0 1.5rem;
}
body main .main-site .main-sections .newswire .newswire-container {
  display: grid;
  gap: 1.5em;
  width: 100%;
  height: fit-content;
}
@media screen and (max-width: 768px) {
  body main .main-site .main-sections .newswire .newswire-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  body main .main-site .main-sections .newswire .newswire-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  body main .main-site .main-sections .newswire .newswire-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
body main .main-site .main-sections .newswire .newswire-container .newswire-card {
  display: flex;
  flex-direction: column;
  justify-content: top center;
  border: 1px solid #282828;
  border-radius: 8px;
}
body main .main-site .main-sections .newswire .newswire-container .newswire-card .card-img1 {
  width: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
  border-radius: 8px 8px 0px 0px;
  background-image: url("https://media-rockstargames-com.akamaized.net/tina-uploads/posts/255345a321k885/07f9e87bc42e7dd32efc6ccefdc186b45ac63c19.jpg");
}
body main .main-site .main-sections .newswire .newswire-container .newswire-card .card-img2 {
  width: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
  border-radius: 8px 8px 0px 0px;
  background-image: url("https://media-rockstargames-com.akamaized.net/tina-uploads/posts/399a125kk44o23/cf8d561f02df67e3e7b23467cbc5eca55b6cd806.jpg");
}
body main .main-site .main-sections .newswire .newswire-container .newswire-card .card-img3 {
  width: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
  border-radius: 8px 8px 0px 0px;
  background-image: url("https://media-rockstargames-com.akamaized.net/tina-uploads/posts/399a19ka9935ok/736f71b4e0ec0f8911e681703acc45b63743e529.jpg");
}
body main .main-site .main-sections .newswire .newswire-container .newswire-card .card-img4 {
  width: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
  border-radius: 8px 8px 0px 0px;
  background-image: url("https://media-rockstargames-com.akamaized.net/tina-uploads/posts/399a95o875o292/62b9f0b851390e9a42c38777e6844e55714dd184.jpg");
}
body main .main-site .main-sections .newswire .newswire-container .newswire-card .card-img5 {
  width: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
  border-radius: 8px 8px 0px 0px;
  background-image: url("https://media-rockstargames-com.akamaized.net/tina-uploads/posts/51177485oa84a9/821555e42660badad537cd357bfb950e2de1770e.jpg");
}
body main .main-site .main-sections .newswire .newswire-container .newswire-card .card-img6 {
  width: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
  border-radius: 8px 8px 0px 0px;
  background-image: url("https://media-rockstargames-com.akamaized.net/tina-uploads/posts/k44ao7934a73a1/3b5b856a0330d051b75cc5d6aec5059343825398.jpg");
}
body main .main-site .main-sections .newswire .newswire-container .newswire-card .card-info {
  padding: 32px 24px;
}
body main .main-site .main-sections .newswire .newswire-container .newswire-card .card-info h5 {
  font-size: 1.25rem;
  line-height: 1.3;
  color: #fff;
  text-align: left;
  text-wrap: wrap;
}
body main .main-site .main-sections .newswire .newswire-container .newswire-card .card-info .card-info-credit {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.6;
  font-stretch: condensed;
}
body main .main-site .main-sections .newswire .newswire-container .newswire-card .card-info .card-info-credit p {
  color: #fff;
}
body main .main-site .main-sections .newswire .newswire-container .newswire-card .card-info .card-info-credit time {
  color: #979797;
  padding-left: 1em;
}
body main .main-site .main-sections .destacados {
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  padding: 32px 0px;
  justify-content: center;
}
body main .main-site .main-sections .destacados h3 {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 0 0 1.5rem;
  text-align: left;
}
body main .main-site .main-sections .destacados .destacados-galeria {
  background-color: paleturquoise;
  display: grid;
  width: 100%;
  height: fit-content;
  gap: 1.5em;
}
@media screen and (max-width: 768px) {
  body main .main-site .main-sections .destacados .destacados-galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  body main .main-site .main-sections .destacados .destacados-galeria {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  body main .main-site .main-sections .destacados .destacados-galeria {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
body main .main-site .main-sections .destacados .destacados-galeria a {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 40px -25px transparent;
  width: 100%;
  height: fit-content;
}
body main .main-site .main-sections .destacados .destacados-galeria .galeria-a-first {
  background-color: red;
  width: 100%;
  height: 200px;
}
@media screen and (max-width: 768px) {
  body main .main-site .main-sections .destacados .destacados-galeria .galeria-a-first {
    grid-column: 1/span 2;
    grid-row: 1/span 1;
    aspect-ratio: 16/9;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  body main .main-site .main-sections .destacados .destacados-galeria .galeria-a-first {
    grid-column: 1/span 4;
    grid-row: 1/span 1;
    aspect-ratio: 10/3;
  }
}
@media screen and (min-width: 1024px) {
  body main .main-site .main-sections .destacados .destacados-galeria .galeria-a-first {
    grid-column: 1/span 4;
    grid-row: 1/span 1;
    aspect-ratio: 10/3;
  }
}
body main .main-site .main-sections .destacados .destacados-galeria .galeria-a-first #galeria-img-first {
  background-image: url("../images/FullScreen GTA.png");
  aspect-ratio: 64/79;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  background-size: contain;
  border-radius: 8px;
}
@media screen and (max-width: 768px) {
  body main .main-site .main-sections .destacados .destacados-galeria .galeria-a-img2 {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  body main .main-site .main-sections .destacados .destacados-galeria .galeria-a-img2 {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }
}
@media screen and (min-width: 1024px) {
  body main .main-site .main-sections .destacados .destacados-galeria .galeria-a-img2 {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }
}
body main .main-site .main-sections .destacados .destacados-galeria .galeria-a-img2 #galeria-img2 {
  background-image: url("../images/GTA-V.jpg");
  aspect-ratio: 64/79;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
}
@media screen and (max-width: 768px) {
  body main .main-site .main-sections .destacados .destacados-galeria .galeria-a-img3 {
    grid-column: 2/span 1;
    grid-row: 2/span 1;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  body main .main-site .main-sections .destacados .destacados-galeria .galeria-a-img3 {
    grid-column: 2/span 1;
    grid-row: 2/span 1;
  }
}
@media screen and (min-width: 1024px) {
  body main .main-site .main-sections .destacados .destacados-galeria .galeria-a-img3 {
    grid-column: 2/span 1;
    grid-row: 2/span 1;
  }
}
body main .main-site .main-sections .destacados .destacados-galeria .galeria-a-img3 #galeria-img3 {
  background-image: url("../images/GTA-Online.jpg");
  aspect-ratio: 64/79;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
}
@media screen and (max-width: 768px) {
  body main .main-site .main-sections .destacados .destacados-galeria .galeria-a-img4 {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  body main .main-site .main-sections .destacados .destacados-galeria .galeria-a-img4 {
    grid-column: 3/span 1;
    grid-row: 3/span 1;
  }
}
@media screen and (min-width: 1024px) {
  body main .main-site .main-sections .destacados .destacados-galeria .galeria-a-img4 {
    grid-column: 3/span 1;
    grid-row: 2/span 1;
  }
}
body main .main-site .main-sections .destacados .destacados-galeria .galeria-a-img4 #galeria-img4 {
  background-image: url("../images/RDR2.jpg");
  aspect-ratio: 64/79;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  border-radius: 8px;
}
@media screen and (max-width: 768px) {
  body main .main-site .main-sections .destacados .destacados-galeria .galeria-a-img5 {
    grid-column: 2/span 1;
    grid-row: 3/span 1;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  body main .main-site .main-sections .destacados .destacados-galeria .galeria-a-img5 {
    grid-column: 4/span 1;
    grid-row: 2/span 1;
  }
}
@media screen and (min-width: 1024px) {
  body main .main-site .main-sections .destacados .destacados-galeria .galeria-a-img5 {
    grid-column: 4/span 1;
    grid-row: 2/span 1;
  }
}
body main .main-site .main-sections .destacados .destacados-galeria .galeria-a-img5 #galeria-img5 {
  background-image: url("../images/RDR.jpg");
  aspect-ratio: 64/79;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  border-radius: 8px;
}
body main .main-site .main-sections .destacados .destacados-view-more {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .main-site .main-sections .destacados .destacados-view-more .view-more {
  background: transparent;
  border: none;
  font-weight: 400;
  line-height: unset;
  outline: none;
  padding: 0;
  position: relative;
  text-transform: none;
  z-index: 1;
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-block;
  align-self: center;
}
body main .main-site .main-sections .destacados .destacados-view-more .view-more ::before {
  background: var(--standard-color);
  height: 4px;
  border-radius: 0.25rem;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: -0.1rem;
  position: absolute;
  transition: all 0.2s ease;
  width: calc(100% + 0.2rem);
  z-index: -1;
}
body main .main-site .main-last {
  min-height: 560px;
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/6a6451bd8ecdc225f087859e32b19a25.png);
  background-repeat: repeat;
  background-size: 13.5rem;
}
@media screen and (max-width: 768px) {
  body main .main-site .main-last {
    background-image: none;
  }
}
body main .main-site .main-last .suscribe {
  background: linear-gradient(0deg, #000 0.02%, transparent 74.02%);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 64px 32px;
}
body main .main-site .main-last .suscribe .suscribe-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  max-width: 30rem;
  min-height: 560px;
  position: relative;
}
body main .main-site .main-last .suscribe .suscribe-container .suscribe-logo {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/c46845952588bf44125a37117d4da32c.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 42.5px;
  height: 42.5px;
  position: relative;
  display: block;
}
body main .main-site .main-last .suscribe .suscribe-container .suscribe-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body main .main-site .main-last .suscribe .suscribe-container .suscribe-text h4 {
  font-size: 1.25rem;
}
body main .main-site .main-last .suscribe .suscribe-container .suscribe-text p {
  font-weight: 400;
  letter-spacing: -0.4px;
  line-height: 150%;
}
body main .main-site .main-last .suscribe .suscribe-container .suscribe-now {
  background: #000;
  border: 1px solid #fff;
  color: #fff;
  margin-top: 30px;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 100%;
  padding: 1rem 3rem;
  text-transform: uppercase;
  min-width: max-content;
  display: inline-block;
  overflow: visible;
}
body footer {
  background-color: palegoldenrod;
  justify-content: space-between;
  padding: 32px;
}
body footer .enlaces {
  background-color: orange;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  font-size: 1rem;
}
body footer .enlaces a {
  text-wrap: nowrap;
  line-height: 25.6px;
}
body footer .idioma {
  background-color: orchid;
}
body footer .idioma .idioma-select {
  background-color: aqua;
  align-items: center;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  outline: none;
  padding: 0.5rem;
}
body footer .idioma .idioma-select i {
  background-color: black;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10ZM2 12h20%27/%3E%3Cpath stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10v0Z%27/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  width: 21px;
  height: 21px;
  cursor: pointer;
  line-height: 1.15;
  margin-right: 0.5rem;
}
body footer .idioma .idioma-select i ::after {
  content: "";
  display: block;
  padding-top: 100%;
}
body footer .idioma .idioma-select span {
  padding-right: 32px;
  font-size: 0.75rem;
}
body footer .idioma .idioma-select span ::after {
  background-color: red;
  width: 24px;
}
body footer .rrss {
  background-color: blueviolet;
  display: flex;
  justify-content: flex-start;
}
body footer .rrss .rrss-x {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 d=%27M13.61 11.003 19.634 4h-1.428l-5.23 6.08L8.796 4H3.98l6.317 9.195-6.317 7.343h1.427l5.524-6.42 4.413 6.42h4.818l-6.552-9.535Zm-1.956 2.273-.64-.916-5.093-7.285h2.192l4.11 5.88.641.915 5.343 7.643h-2.193l-4.36-6.237Z%27/%3E%3C/svg%3E");
  border: 8px solid transparent;
  background-size: 75%;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}
body footer .rrss .rrss-in {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 d=%27M11.999 7.377a4.624 4.624 0 1 0 0 9.248 4.624 4.624 0 0 0 0-9.248Zm0 7.627a3.004 3.004 0 1 1 0-6.008 3.004 3.004 0 0 1 0 6.008Zm4.807-6.719a1.078 1.078 0 1 0 0-2.156 1.078 1.078 0 0 0 0 2.156Z%27/%3E%3Cpath fill=%27%23fff%27 d=%27M20.533 6.111A4.605 4.605 0 0 0 17.9 3.479a6.607 6.607 0 0 0-2.186-.42c-.963-.042-1.268-.054-3.71-.054s-2.755 0-3.71.054a6.554 6.554 0 0 0-2.184.42 4.6 4.6 0 0 0-2.633 2.632 6.585 6.585 0 0 0-.419 2.186c-.043.962-.056 1.267-.056 3.71 0 2.442 0 2.753.056 3.71.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632 6.583 6.583 0 0 0 2.185.45c.963.042 1.268.055 3.71.055s2.755 0 3.71-.055a6.616 6.616 0 0 0 2.186-.419 4.613 4.613 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.186.043-.962.056-1.267.056-3.71s0-2.753-.056-3.71a6.583 6.583 0 0 0-.421-2.217Zm-1.218 9.532a5.046 5.046 0 0 1-.311 1.688 2.987 2.987 0 0 1-1.712 1.711 4.99 4.99 0 0 1-1.67.311c-.95.044-1.218.055-3.654.055-2.438 0-2.687 0-3.655-.055a4.961 4.961 0 0 1-1.67-.311 2.985 2.985 0 0 1-1.718-1.711 5.08 5.08 0 0 1-.311-1.669c-.043-.95-.053-1.218-.053-3.654 0-2.437 0-2.686.053-3.655a5.038 5.038 0 0 1 .311-1.687c.305-.789.93-1.41 1.719-1.712a5.01 5.01 0 0 1 1.669-.311c.95-.043 1.218-.055 3.655-.055s2.687 0 3.654.055a4.96 4.96 0 0 1 1.67.311 2.99 2.99 0 0 1 1.712 1.712c.197.535.302 1.1.311 1.669.043.951.054 1.218.054 3.655 0 2.436 0 2.698-.043 3.654h-.011v-.001Z%27/%3E%3C/svg%3E");
  border: 8px solid transparent;
  background-size: 75%;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}
body footer .rrss .rrss-yt {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 d=%27M22.963 6.517A2.863 2.863 0 0 0 20.95 4.5C19.16 4.008 12 4 12 4s-7.158-.008-8.949.462a2.925 2.925 0 0 0-2.018 2.031c-.472 1.79-.476 5.502-.476 5.502s-.005 3.73.464 5.5a2.863 2.863 0 0 0 2.014 2.018c1.808.491 8.948.499 8.948.499s7.16.008 8.949-.46a2.874 2.874 0 0 0 2.019-2.015c.473-1.788.476-5.499.476-5.499s.023-3.731-.465-5.52ZM9.711 15.433l.006-6.856 5.95 3.434-5.956 3.422Z%27/%3E%3C/svg%3E");
  border: 8px solid transparent;
  background-size: 75%;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}
body footer .rrss .rrss-fb {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 d=%27M21 11.996a9 9 0 1 0-11.174 8.735v-5.984H7.97v-2.75h1.856V10.81c0-3.063 1.386-4.483 4.393-4.483.57 0 1.555.112 1.957.224v2.493a11.549 11.549 0 0 0-1.04-.034c-1.475 0-2.046.56-2.046 2.013v.972h2.94l-.505 2.75H13.09v6.184A9 9 0 0 0 21 11.995Z%27/%3E%3C/svg%3E");
  border: 8px solid transparent;
  background-size: 75%;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}
body footer .rrss .rrss-tw {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 fill-rule=%27evenodd%27 d=%27m6.998 3-3.57 3.571V19.43h4.285V23l3.57-3.571h2.857L20.567 13V3H6.998Zm12.14 9.286-2.856 2.857h-2.857l-2.499 2.5v-2.5H7.713V4.429h11.426v7.857Zm-2.142-5.357h-1.428v4.285h1.428V6.93Zm-5.355 0h1.428v4.285H11.64V6.93Z%27 clip-rule=%27evenodd%27/%3E%3C/svg%3E");
  border: 8px solid transparent;
  background-size: 75%;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}
body footer .policies {
  background-color: darkred;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
body footer .policies a {
  font-size: 0.75rem;
  opacity: 0.65;
  text-wrap: nowrap;
}
body footer .policies button {
  appearance: none;
  background-color: initial;
  border: none;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: font-size-1;
  margin: 0;
  opacity: 0.65;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
