$primary-color: #fff;
$secondary-color: #979797;
$bg-color: #000;
$bg-highlight: #282828;
$grey-signin: #262626;
$grey:#666666;
$yellow: #fcaf17;

// $font-size-1: 0.5em;
$font-size-2: 0.75em;
// $font-size-3: 1em;
// $font-size-4: 1.25em;
$font-size-5: 1.5em;
$font-size-6: 2em;
