$primary-color: #fff;
//$primary-color-var: #e8e8e8;
$secondary-color: #979797;
$bg-color: #000;
$bg-color-main: #0b0b0b;
$bg-highlight: #282828;
$grey-signin: #262626;
$grey:#666666;
$yellow: #fcaf17;


$font-size-1: 0.75rem;
// $font-size-2: ;
$font-size-3: 1rem;
$font-size-4: 1.25rem;
$font-size-5: 1.5rem;
$font-size-6: 2rem;
