@import "reset";
@import "variables";
@import "fonts";
@import "mixins";

body {
    background-color: $bg-color;
    color: $primary-color;
    font-family: 'Helvetica Now Display', Arial, Helvetica, sans-serif; 
    font-display: fallback;
    font-size: 20px;

    // HEADER

    header {
        position: fixed;
        width: 100%;
        height: 80px;
        align-items: center;

        .header-menu {
            height: 80px;
            width: 100%;
            background-color: $bg-color;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;
            padding: 0 32px;
            border-bottom: 1px solid $bg-highlight;
            opacity: 1;
            top: 0;
            transition: top 3s ease-in-out;
            z-index: 99;

            // MENU-LEFT Menu hamburguesa

            .header-menu-left {
                @include mobile {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    width: 33%;
                    height: inherit;
    
                    .menu-toggle {
                        display: none;
                    }
    
                    .menu-icon {
                        display: flex;
                        flex-direction: column;
                        cursor: pointer;
                        gap: 5.6px;
                        justify-content: center;
                        align-items: center;
                        height: 24px;
                     
                        span {
                          display: block;
                          width: 24px;
                          height: 2.4px;
                          background-color: $primary-color;
                          border-radius: 16px;
                          // transform: 0.7s;
                        }
                    }
                }

                @include pc {
                    display: none;
                    position: absolute;
                }
                @include tablet {
                    display: none;
                    position: absolute;
                }
            }

            // HEADER-CENTER

            .header-menu-center {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                height: inherit;

                @include mobile {
                    width: 33%;
                }
                @include pc {
                    width: 67%;
                }

                .menu-logo {
                    width: 2em;
                    background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/c46845952588bf44125a37117d4da32c.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                }
                
                .ext-nav-ul {                
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    flex-wrap: nowrap;
                    gap: 3em;
                    font-size: $font-size-1;
                    @include mobile {
                        display: none;
                        position: absolute;
                    }

                    .nav-desplegable-button {
                        @include button-style;
                    }

                    .ext-nav-mas {
                        @include pc {
                            display: none;
                        }
                    }

                    .pc-nav-tienda, .pc-nav-asistencia {
                        @include tablet {
                            display: none;
                        }
                    }
                }              
            }

            // HEADER-RIGHT Sing-In

            .header-menu-right {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                width: 33%;
                height: inherit;

                .menu-right-extended {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    justify-content: space-around;
                    gap: 2em;
                    height: inherit;
                    @include mobile {
                        position: absolute;
                        display: none;
                    }
                    
                    .right-ext-launcher {
                        background-color: $yellow;
                        color: $bg-color;
                        min-width: max-content;
                        text-align: center;
                        border-radius: .25rem;
                        cursor: pointer;
                        display: inline-block;
                        font-size: 1em;
                        font-weight: 700;
                        line-height: 100%;
                        padding: 0.75em 1em;
                        text-transform: uppercase;
                    }
                    
                    .ext-search-button {
                        @include button-style;
                        width: 25px;

                        @include mobile {
                            position: absolute;
                            display: none;
                        }
                    }
                }

                .menu-signin {
                    cursor: pointer;
                    width: 2em;
                    height: inherit;
                    background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/a29e26aa160e7be7e845708c335b3c39.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    cursor: pointer;
                }   
            }
        }
    }
    
    // MAIN

    main {
        // display: flex;
        // @include mobile {
        //     flex-direction: column;
        // }
        // @include pc {
        //     flex-direction: row;
        // }
        font-size: 16px;

        .main-site {
            background-color: $bg-color-main;
            //display: grid;
            //width: 100%;

            //@include mobile {
            //   grid-template-columns: 100%;
            //    grid-template-rows: 1fr 2fr 1fr;
            //}
            //@include pc {
            //    grid-template-columns: 100%;
            //    grid-template-rows: 20% 65% 15%;
            //}

            // SECCION 1: SLIDER
    
            .slider {
                padding-top: 80px;
                display: grid;
                width: 100%;
                height: 100%;
                align-items: flex-end;
                z-index: 1;

                @include mobile {
                    //grid-template-columns: 100%;
                    grid-template-rows: 50% 50%;
                    //justify-content: center;
                }
                @include tablet {
                    grid-template-rows: 60% 40%;
                }
                @include pc {
                    grid-template-columns: 70% 30%;
                    //grid-template-rows: 100%;
                    grid-gap: 1rem;
                }
    
                .slider-image {
                    display: flex;
                    background-image: url(https://videos-rockstargames-com.akamaized.net/v4/rkoCtr1r/art/global.jpg);
                    width: 100%;
                    height: fit-content;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                    aspect-ratio: 16/9;
                    overflow: hidden;
                }
    
                .slider-card {
                    width: 100%;
                    height: 100%;
                    background-color: red;
                    padding: 32px;
                    display: grid;
                    grid-gap: 1rem;

                    @include mobile {
                        grid-template-columns: 1fr;
                        padding: 32px;
                    }
                    @include tablet {

                        padding: 72px 36px;
                    }
                    @include pc {
                        grid-template-rows: 1fr 1fr;
                        align-items: end;
                        padding: 40px;
                    }

                    .slider-text {

                        a {
                            background-color: aqua;
                            display: flex;
                            width: 100%;
                            align-items: flex-start;
                            justify-content: space-between;
                            flex-wrap: wrap;

                            @include mobile {
                                flex-direction: column;                          
                            }
                            @include tablet {
                                flex-direction: row;
                            }
                            @include pc {
                                flex-direction: row;
                            }
                            
                            .slider-text-content {
                                background-color: green;
                                display: grid;
                                width: 100%;
                                height: fit-content;
                                p {
                                    font-size: $font-size-1;
                                    font-weight: 700;
                                    line-height: 1.6;
                                    font-stretch: condensed;
                                }
                    
                                h2 {
                                    font-size: $font-size-6;
                                    line-height: 1.6;
                                    letter-spacing: -0.5px;
                                    font-weight: bold;
                                }
                            }   
                        }
                        
                        .button-now {
                            display: flex;
                            @include button-now-style (transparent, 1px solid $primary-color, $primary-color);
                        }
                    }
        
                    .slide-buttons {
                        background-color: blue;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        flex-wrap: nowrap;
                        gap: 1rem;
                        width: 100%;
                        height: fit-content;
            
                        .slide-button-first {
                            background-color: $primary-color;
                            border: none;
                            height: 12px;
                            width: 48px;
                            line-height: 1.15;
                            border-radius: 16px;
                            cursor: pointer;
                        }
            
                        .slide-button-next {
                            border-radius: 50%;
                            background-color: $grey;
                            border: none;
                            cursor: pointer;
                            line-height: 1.15;
                            padding: 0.4em;
                        }
                    }
                }
    
            }
            
    
            .main-sections {
                //display:grid;
                margin: 0px 32px;

                //@include mobile {
                //    grid-template-rows: 6fr, 1fr;
                //}
                //@include tablet {
                //    grid-template-rows: 2fr, 1fr;
                //}
                // //@include pc {
                //     grid-template-rows: 1fr, 1fr;
                // }
    
                // SECCION 2: NEWSWIRE
                
                .newswire {
                    display: flex;
                    width: fit-content;
                    flex-direction: column;
                    padding: 32px 0px;
        
                    h3 {
                        font-size: $font-size-5;
                        line-height: 1.3;
                        margin: 0 0 1.5rem;
                    }

                    .newswire-container {
                        display: grid;
                        gap: 1.5em;
                        width: 100%;
                        height: fit-content;
                        @include mobile {
                            grid-template-columns: 1fr;
                        }
                        @include tablet {
                            grid-template-columns: repeat(3, 1fr);
                        }
                        @include pc {
                            grid-template-columns: repeat(3, 1fr);
                        }

                        .newswire-card {
                            display: flex;
                            flex-direction: column;
                            @include newswire-card-style;

                            .card-img1 {
                                @include card-img-style; 
                                background-image: url("https://media-rockstargames-com.akamaized.net/tina-uploads/posts/255345a321k885/07f9e87bc42e7dd32efc6ccefdc186b45ac63c19.jpg");
                            }
                            .card-img2 {
                                @include card-img-style;
                                background-image: url("https://media-rockstargames-com.akamaized.net/tina-uploads/posts/399a125kk44o23/cf8d561f02df67e3e7b23467cbc5eca55b6cd806.jpg");
                            }
                            .card-img3 {
                                @include card-img-style;
                                background-image: url("https://media-rockstargames-com.akamaized.net/tina-uploads/posts/399a19ka9935ok/736f71b4e0ec0f8911e681703acc45b63743e529.jpg");
                            }
                            .card-img4 {
                                @include card-img-style;
                                background-image: url("https://media-rockstargames-com.akamaized.net/tina-uploads/posts/399a95o875o292/62b9f0b851390e9a42c38777e6844e55714dd184.jpg");
                            }
                            .card-img5 {
                                @include card-img-style;
                                background-image: url("https://media-rockstargames-com.akamaized.net/tina-uploads/posts/51177485oa84a9/821555e42660badad537cd357bfb950e2de1770e.jpg");

                            }
                            .card-img6 {
                                @include card-img-style;
                                background-image: url("https://media-rockstargames-com.akamaized.net/tina-uploads/posts/k44ao7934a73a1/3b5b856a0330d051b75cc5d6aec5059343825398.jpg");
                            }

                            .card-info{
                                padding: 32px 24px;

                                h5 {
                                    font-size: $font-size-4;
                                    line-height: 1.3;
                                    color: $primary-color;
                                    text-align: left;
                                    text-wrap: wrap;
                                }

                                .card-info-credit {
                                    display: flex;
                                    flex-direction: row;
                                    font-size: $font-size-1;
                                    font-weight: 700;
                                    line-height: 1.6;
                                    font-stretch: condensed;

                                    p {
                                        color: $primary-color;
                                    }
    
                                    time {
                                        color: $secondary-color;
                                        padding-left: 1em;
                                    }
                                }
                            }
                        }
                    }
                }

                .destacados {
                    background-color: cornflowerblue;
                    display: flex;
                    flex-direction: column;
                    padding: 32px 0px;
                    justify-content: center;

                    h3 {
                        font-size: $font-size-5;
                        line-height: 1.3;
                        margin: 0 0 1.5rem;
                        text-align: left;
                    }

                    .destacados-galeria {
                        background-color: paleturquoise;
                        display: grid;
                        width: 100%;
                        height: fit-content;
                        gap: 1.5em;
                        @include mobile {
                            grid-template-columns: repeat(2, 1fr);
                            grid-template-rows: repeat(3, 1fr);
                        }
                        @include tablet {
                            grid-template-columns: repeat(4, 1fr);
                            grid-template-rows: repeat(2, 1fr);
                        }
                        @include pc {
                            grid-template-columns: repeat(4, 1fr);
                            grid-template-rows: repeat(2, 1fr);
                        }

                        a {
                            background-color: yellow;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            box-shadow: 0 0 40px -25px transparent;
                            width: 100%;
                            height: fit-content;
                        }

                        .galeria-a-first{
                            background-color: red;
                            width: 100%;
                            height: 200px;
                            @include mobile {
                                grid-column: 1 / span 2;
                                grid-row: 1 / span 1;
                                aspect-ratio: 16/9;
                            }
                            @include tablet {
                                grid-column: 1 / span 4;
                                grid-row: 1 / span 1;
                                aspect-ratio: 10/3;
                            }
                            @include pc {
                                grid-column: 1 / span 4;
                                grid-row: 1 / span 1;
                                aspect-ratio: 10/3;
                            }

                            #galeria-img-first {
                                background-image: url("../images/FullScreen\ GTA.png");
                                @include destacados-galeria-style;
                                background-size: contain;
                                border-radius: 8px; 
                            }
                        }
                        .galeria-a-img2{
                            @include mobile {
                                grid-column: 1 / span 1;
                                grid-row: 2 /span 1;
                            }
                            @include tablet {
                                grid-column: 1 / span 1;
                                grid-row: 2 /span 1;
                            }
                            @include pc {
                                grid-column: 1 / span 1;
                                grid-row: 2 /span 1;
                            }

                            #galeria-img2 {
                                background-image: url("../images/GTA-V.jpg");
                                @include destacados-galeria-style;
                            }
                        }
                        .galeria-a-img3{
                            @include mobile {
                                grid-column: 2 / span 1;
                                grid-row: 2 / span 1;
                            }
                            @include tablet {
                                grid-column: 2 / span 1;
                                grid-row: 2 / span 1;
                            }
                            @include pc {
                                grid-column: 2 / span 1;
                                grid-row: 2 / span 1;
                            }

                            #galeria-img3 {    
                                background-image: url("../images/GTA-Online.jpg");
                                @include destacados-galeria-style;
                            }
                        }
                        .galeria-a-img4{
                            @include mobile {
                                grid-column: 1 / span 1;
                                grid-row: 3 / span 1;
                            }
                            @include tablet {
                                grid-column: 3 / span 1;
                                grid-row: 2 / span 1;
                            }
                            @include pc {
                                grid-column: 3 / span 1;
                                grid-row: 2 / span 1;
                            }

                            #galeria-img4 {
                                background-image: url("../images/RDR2.jpg");
                                @include destacados-galeria-style;
                                border-radius: 8px;
                            }
                        }
                        .galeria-a-img5{
                            @include mobile {
                                grid-column: 2 / span 1;
                                grid-row: 3 / span 1;
                            }
                            @include tablet {
                                grid-column: 4 / span 1;
                                grid-row: 2 / span 1;
                            }
                            @include pc {
                                grid-column: 4 / span 1;
                                grid-row: 2 / span 1;
                            }

                            #galeria-img5 {    
                                background-image: url("../images/RDR.jpg");
                                @include destacados-galeria-style;
                                border-radius: 8px;
                            }
                        }   
                    }

                    .destacados-view-more{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .view-more {
                            @include view-more-style;

                            ::before {
                                @include view-more-before;
                            }
                        }
                    }
                }
            }

            .main-last {
                background-color: $bg-color-main;
                min-height: 560px;             
                background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/6a6451bd8ecdc225f087859e32b19a25.png);
                background-repeat: repeat;    
                background-size: 13.5rem;
                @include mobile {
                    background-image: none;
                }

                .suscribe {
                    background: linear-gradient(0deg,#000 .02%,transparent 74.02%);
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    min-height: 560px;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    padding: 64px 32px;
                       
                    .suscribe-container {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        justify-content: center;
                        max-width: 30rem;
                        min-height: 560px;
                        position: relative;
                        
                        .suscribe-logo {
                            background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/c46845952588bf44125a37117d4da32c.svg);
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                            width: 42.5px;
                            height: 42.5px;
                            position: relative;
                            display: block;
                        }

                        .suscribe-text {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            h4 {
                                font-size: $font-size-4;
                            }

                            p {
                                font-weight: 400;
                                letter-spacing: -.4px;
                                line-height: 150%;
                            }
                        }

                        .suscribe-now {
                            @include button-now-style(transparent, 1px solid $primary-color, $primary-color);
                        }
                    }
                }
            }
        }
    }

    footer {
        background-color: palegoldenrod;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 3rem;
        // padding: 80px;
        // padding: 32px;
        line-height: 32px;
        
        .idioma {
                    background-color: orchid;
                    flex-basis: 30%;
                    @include mobile {
                        order: 2;
                    }
                    @include tablet {
                        order: 2;
                    }
                    @include pc {
                        order: 1;
                    }
        
                    .idioma-select {
                        background-color: aqua;
                        align-items: center;
                        background: none;
                        border: none;
                        color: inherit;
                        cursor: pointer;
                        display: flex;
                        flex-direction: row;
                        outline: none;
                        padding: .5rem;
        
                        i {
                            background-color: black;
                            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10ZM2 12h20%27/%3E%3Cpath stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10v0Z%27/%3E%3C/svg%3E");
                            background-repeat: no-repeat;
                            background-size: contain;
                            width: 21px;
                            height: 21px;
                            cursor: pointer;
                            line-height: 1.15;
                            margin-right: 0.5rem;
                            ::after {
                                content: "";
                                display: block;
                                padding-top: 100%;
                            }
                        }
        
                        span {
                            //background-color: blue;
                            padding-right: 32px;
                            font-size: $font-size-1;
        
                            ::after {
                                background-color: red;
                                // background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m6 9 6 6 6-6%27/%3E%3C/svg%3E");
                                // background-position: 50%;
                                // background-repeat: no-repeat;
                                // background-size: 100%;
                                // content: "";
                                // display: inline-block;
                                // height: auto;
                                // position: absolute;
                                // right: 0;
                                // top: 0;
                                // transform: rotate(0deg);
                                // transition: transform .3s;
                                width: 24px;
                            }
                        }
                    }
        }

        .enlaces {
            background-color: orange;
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            font-size: $font-size-3;
            order: 0;
            flex-basis: 50%;
            
            @include mobile {
                flex-direction: column;
            }
            @include tablet {
                flex-direction: row;
            }
            @include pc {
                flex-direction: row;
            }

            a {
                text-wrap: nowrap;
                line-height: 25.6px;
                //transition: color .2s ease,opacity .2s ease;
            }
        }

        .policies {
            background-color: darkred;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-basis: 70%;
            @include mobile {
                order: 3;
            }
            @include tablet {
                order: 3;
            }
            @include pc {
                order: 2;
            }

            a {
                font-size: $font-size-1;
                opacity: .65;
                text-wrap: nowrap;
                //transition: color .2s ease,opacity .2s ease;
            }

            button {
                appearance: none;
                background-color: initial;
                border: none;
                box-sizing: border-box;
                color: inherit;
                cursor: pointer;
                display: inline-block;
                font-family: inherit;
                font-size: $font-size-1;
                margin: 0;
                opacity: .65;
                padding: 0;
                text-align: left;
                text-decoration: none;
                transition: color .2s ease,opacity .2s ease;
            }
        }

        .rrss {
            background-color: blueviolet;
            display: flex;
            justify-content: flex-start;
            flex-basis: 30%;
            @include mobile {
                order: 2;
            }
            @include tablet {
                order: 2;
            }
            @include pc {
                order: 3;
            }
            
            .rrss-x {
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 d=%27M13.61 11.003 19.634 4h-1.428l-5.23 6.08L8.796 4H3.98l6.317 9.195-6.317 7.343h1.427l5.524-6.42 4.413 6.42h4.818l-6.552-9.535Zm-1.956 2.273-.64-.916-5.093-7.285h2.192l4.11 5.88.641.915 5.343 7.643h-2.193l-4.36-6.237Z%27/%3E%3C/svg%3E");
                @include footer-rrss-style;
            }

            .rrss-in {
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 d=%27M11.999 7.377a4.624 4.624 0 1 0 0 9.248 4.624 4.624 0 0 0 0-9.248Zm0 7.627a3.004 3.004 0 1 1 0-6.008 3.004 3.004 0 0 1 0 6.008Zm4.807-6.719a1.078 1.078 0 1 0 0-2.156 1.078 1.078 0 0 0 0 2.156Z%27/%3E%3Cpath fill=%27%23fff%27 d=%27M20.533 6.111A4.605 4.605 0 0 0 17.9 3.479a6.607 6.607 0 0 0-2.186-.42c-.963-.042-1.268-.054-3.71-.054s-2.755 0-3.71.054a6.554 6.554 0 0 0-2.184.42 4.6 4.6 0 0 0-2.633 2.632 6.585 6.585 0 0 0-.419 2.186c-.043.962-.056 1.267-.056 3.71 0 2.442 0 2.753.056 3.71.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632 6.583 6.583 0 0 0 2.185.45c.963.042 1.268.055 3.71.055s2.755 0 3.71-.055a6.616 6.616 0 0 0 2.186-.419 4.613 4.613 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.186.043-.962.056-1.267.056-3.71s0-2.753-.056-3.71a6.583 6.583 0 0 0-.421-2.217Zm-1.218 9.532a5.046 5.046 0 0 1-.311 1.688 2.987 2.987 0 0 1-1.712 1.711 4.99 4.99 0 0 1-1.67.311c-.95.044-1.218.055-3.654.055-2.438 0-2.687 0-3.655-.055a4.961 4.961 0 0 1-1.67-.311 2.985 2.985 0 0 1-1.718-1.711 5.08 5.08 0 0 1-.311-1.669c-.043-.95-.053-1.218-.053-3.654 0-2.437 0-2.686.053-3.655a5.038 5.038 0 0 1 .311-1.687c.305-.789.93-1.41 1.719-1.712a5.01 5.01 0 0 1 1.669-.311c.95-.043 1.218-.055 3.655-.055s2.687 0 3.654.055a4.96 4.96 0 0 1 1.67.311 2.99 2.99 0 0 1 1.712 1.712c.197.535.302 1.1.311 1.669.043.951.054 1.218.054 3.655 0 2.436 0 2.698-.043 3.654h-.011v-.001Z%27/%3E%3C/svg%3E");
                @include footer-rrss-style;
            }

            .rrss-yt {
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 d=%27M22.963 6.517A2.863 2.863 0 0 0 20.95 4.5C19.16 4.008 12 4 12 4s-7.158-.008-8.949.462a2.925 2.925 0 0 0-2.018 2.031c-.472 1.79-.476 5.502-.476 5.502s-.005 3.73.464 5.5a2.863 2.863 0 0 0 2.014 2.018c1.808.491 8.948.499 8.948.499s7.16.008 8.949-.46a2.874 2.874 0 0 0 2.019-2.015c.473-1.788.476-5.499.476-5.499s.023-3.731-.465-5.52ZM9.711 15.433l.006-6.856 5.95 3.434-5.956 3.422Z%27/%3E%3C/svg%3E");
                @include footer-rrss-style;
            }

            .rrss-fb {
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 d=%27M21 11.996a9 9 0 1 0-11.174 8.735v-5.984H7.97v-2.75h1.856V10.81c0-3.063 1.386-4.483 4.393-4.483.57 0 1.555.112 1.957.224v2.493a11.549 11.549 0 0 0-1.04-.034c-1.475 0-2.046.56-2.046 2.013v.972h2.94l-.505 2.75H13.09v6.184A9 9 0 0 0 21 11.995Z%27/%3E%3C/svg%3E");
                @include footer-rrss-style;
            }

            .rrss-tw {
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 fill-rule=%27evenodd%27 d=%27m6.998 3-3.57 3.571V19.43h4.285V23l3.57-3.571h2.857L20.567 13V3H6.998Zm12.14 9.286-2.856 2.857h-2.857l-2.499 2.5v-2.5H7.713V4.429h11.426v7.857Zm-2.142-5.357h-1.428v4.285h1.428V6.93Zm-5.355 0h1.428v4.285H11.64V6.93Z%27 clip-rule=%27evenodd%27/%3E%3C/svg%3E");
                @include footer-rrss-style;
            }
        }

        .company {
            background-color: darkgoldenrod;
            display: grid;
            font-size: 75%;
            font-weight: 700;
            margin-top: 2rem;
            line-height: 24px;
            flex-basis: 100%;
            order: 4;
            
            @include mobile {
                grid-template-rows: repeat(3, 1fr);
                justify-items: center;
            }
            @include tablet {
                grid-template-columns: repeat(3, 1fr);
                justify-content: space-between;
            }
            @include pc {
                grid-template-columns: repeat(3, 1fr);
            }

            .company-name {
                width: 100%;
            }

            .company-locations {
                display: grid;
                grid-gap: 1rem;
                grid-auto-flow: column;
                justify-content: center;
                //left: 50%;
                //position: absolute;
                //transform: translateX(-50%);
            }

            .company-year {
                text-align: right;
                width: 100%;

                // .year-number {
                //     clip: rect(0 0 0 0);
                //     border: 0;
                //     height: 1px;
                //     overflow: hidden;
                //     padding: 0;
                //     position: absolute;
                //     white-space: nowrap;
                //     width: 1px;
                // }
            }
        }
    }
}
