@import "reset";
@import "variables";
@import "fonts";
@import "mixins";

body {
    background-color: $bg-color;
    color: $primary-color;
    font-family: 'Helvetica Now Display', Arial, Helvetica, sans-serif; 
    font-display: fallback;

    // HEADER

    header {
        position: fixed;
        width: 100%;
        height: 80px;
        align-items: center;
        transition: top .3s ease-in-out;

        .header-menu {
            height: 80px;
            width: 100%;
            background-color: $bg-color;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;
            padding: 0 32px;
            border-bottom: 1px solid $bg-highlight;

            // MENU-LEFT Menu hamburguesa

            .header-menu-left {
                @include mobile {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    width: 33%;
                    height: inherit;
    
                    .menu-toggle {
                        display: none;
                    }
    
                    .menu-icon {
                        display: flex;
                        flex-direction: column;
                        cursor: pointer;
                        gap: 5.6px;
                        justify-content: center;
                        align-items: center;
                        height: 24px;
                     
                        span {
                          display: block;
                          width: 24px;
                          height: 2.4px;
                          background-color: $primary-color;
                          border-radius: 16px;
                          // transform: 0.7s;
                        }
                    }
                }

                @include pc {
                    display: none;
                    position: absolute;
                }
                @include tablet {
                    display: none;
                    position: absolute;
                }
            }

            // HEADER-CENTER

            .header-menu-center {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                height: inherit;

                @include mobile {
                    width: 33%;
                }
                @include pc {
                    width: 67%;
                }

                .menu-logo {
                    width: 2em;
                    background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/c46845952588bf44125a37117d4da32c.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                }
                
                .ext-nav-ul {                
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    flex-wrap: nowrap;
                    gap: 3em;
                    font-size: $font-size-2;
                    @include mobile {
                        display: none;
                        position: absolute;
                    }

                    .nav-desplegable-button {
                        @include button-style;
                    }

                    .ext-nav-mas {
                        @include pc {
                            display: none;
                        }
                    }

                    .pc-nav-tienda, .pc-nav-asistencia {
                        @include tablet {
                            display: none;
                        }
                    }
                }              
            }

            // HEADER-RIGHT Sing-In

            .header-menu-right {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                width: 33%;
                height: inherit;

                .menu-right-extended {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    justify-content: space-around;
                    gap: 2em;
                    height: inherit;
                    @include mobile {
                        position: absolute;
                        display: none;
                    }
                    
                    .right-ext-launcher {
                        background-color: $yellow;
                        color: $bg-color;
                        min-width: max-content;
                        text-align: center;
                        border-radius: .25rem;
                        cursor: pointer;
                        display: inline-block;
                        font-size: 1em;
                        font-weight: 700;
                        line-height: 100%;
                        padding: 0.75em 1em;
                        text-transform: uppercase;
                    }
                    
                    .ext-search-button {
                        @include button-style;
                        width: 25px;

                        @include mobile {
                            position: absolute;
                            display: none;
                        }
                    }
                }

                .menu-signin {
                    cursor: pointer;
                    width: 2em;
                    height: inherit;
                    background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/a29e26aa160e7be7e845708c335b3c39.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    cursor: pointer;
                }   
            }
        }
    }
    
    // MAIN

    main {
        /*display: flex;
        @include mobile {
            flex-direction: column;
        }
        @include pc {
            flex-direction: row;
        }*/

        .main-site {
            //display: grid;
            //width: 100%;

            //@include mobile {
            //   grid-template-columns: 100%;
            //    grid-template-rows: 1fr 2fr 1fr;
            //}
            //@include pc {
            //    grid-template-columns: 100%;
            //    grid-template-rows: 20% 65% 15%;
            //}

            // SECCION 1: SLIDER
    
            .slider {
                padding-top: 80px;
                display: grid;
                width: 100%;
                height: fit-content;

                @include mobile {
                    grid-template-columns: 100%;
                    grid-template-rows: 50% 50%;
                    justify-content: center;

                }
                @include pc {
                    grid-template-columns: 70% 30%;
                    grid-template-rows: 100%;
                    align-items: center;
                }
    
                .slider-image {
                    display: flex;
                    background-image: url(https://videos-rockstargames-com.akamaized.net/v4/rkoCtr1r/art/global.jpg);
                    width: 100%;
                    height: fit-content;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                    aspect-ratio: 16/9;
                    overflow: hidden;
                }
    
                .slider-card {
                    width: 100%;
                    height: 100%;
                    background-color: red;
                    padding: 32px;
                    display: grid;
                    gap: 32px;
                    @include mobile {
                        grid-template-columns: 1fr;
                    }
                    @include pc {
                        grid-template-rows: 1fr 1fr;
                        align-items: end;
                    }

                    .slider-text {
                        background-color: aqua;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        align-items: flex-start;
                        justify-content: center;

                        .slider-text-content {
                            background-color: green;
                            display: grid;
                            width: 100%;
                            height: fit-content;
                            p {
                                font-size: $font-size-2;
                                font-weight: 700;
                                line-height: 1.6;
                                font-stretch: condensed;
                            }
                
                            h2 {
                                font-size: $font-size-6;
                                line-height: 1.6;
                                letter-spacing: -0.5px;
                                font-weight: bold;
                            }
                        }
                        
                        .button-now {
                            display: flex;
                            @include button-now-style (transparent, 1px solid $primary-color, $primary-color);
                        }
                    }
        
                    .slide-buttons {
                        background-color: blue;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        flex-wrap: nowrap;
                        gap: 1rem;
                        width: 100%;
                        height: fit-content;
            
                        .slide-button-first {
                            background-color: $primary-color;
                            border: none;
                            height: 12px;
                            width: 48px;
                            line-height: 1.15;
                            border-radius: 16px;
                            cursor: pointer;
                        }
            
                        .slide-button-next {
                            border-radius: 50%;
                            background-color: $grey;
                            border: none;
                            cursor: pointer;
                            line-height: 1.15;
                            padding: 0.4em;
                        }
                    }
                }
    
            }
            
    
            .main-sections {
                //display:grid;
                margin: 0px 32px;

                //@include mobile {
                //    grid-template-rows: 6fr, 1fr;
                //}
                //@include tablet {
                //    grid-template-rows: 2fr, 1fr;
                //}
                // //@include pc {
                //     grid-template-rows: 1fr, 1fr;
                // }
    
                // SECCION 2: NEWSWIRE
                
                .newswire {
                    display: flex;
                    width: fit-content;
                    flex-direction: column;
        
                    h3 {
                        font-size: $font-size-5;
                        line-height: 1.3;
                        margin: 0 0 1.5rem;
                    }

                    .newswire-container {
                        display: grid;
                        gap: 1.5em;
                        width: 100%;
                        height: fit-content;
                        @include mobile {
                            grid-template-columns: 1fr;
                        }
                        @include tablet {
                            grid-template-columns: repeat(3, 1fr);
                        }
                        @include pc {
                            grid-template-columns: repeat(3, 1fr);
                        }

                        .newswire-card {
                            display: flex;
                            flex-direction: column;
                            @include newswire-card-style;

                            .card-img1 {
                                @include card-img-style; 
                                background-image: url("https://media-rockstargames-com.akamaized.net/tina-uploads/posts/255345a321k885/07f9e87bc42e7dd32efc6ccefdc186b45ac63c19.jpg");
                            }
                            .card-img2 {
                                @include card-img-style;
                                background-image: url("https://media-rockstargames-com.akamaized.net/tina-uploads/posts/399a125kk44o23/cf8d561f02df67e3e7b23467cbc5eca55b6cd806.jpg");
                            }
                            .card-img3 {
                                @include card-img-style;
                                background-image: url("https://media-rockstargames-com.akamaized.net/tina-uploads/posts/399a19ka9935ok/736f71b4e0ec0f8911e681703acc45b63743e529.jpg");
                            }
                            .card-img4 {
                                @include card-img-style;
                                background-image: url("https://media-rockstargames-com.akamaized.net/tina-uploads/posts/399a95o875o292/62b9f0b851390e9a42c38777e6844e55714dd184.jpg");
                            }
                            .card-img5 {
                                @include card-img-style;
                                background-image: url("https://media-rockstargames-com.akamaized.net/tina-uploads/posts/51177485oa84a9/821555e42660badad537cd357bfb950e2de1770e.jpg");

                            }
                            .card-img6 {
                                @include card-img-style;
                                background-image: url("https://media-rockstargames-com.akamaized.net/tina-uploads/posts/k44ao7934a73a1/3b5b856a0330d051b75cc5d6aec5059343825398.jpg");
                            }

                            .card-info{
                                padding: 32px 24px;

                                h5 {
                                    font-size: $font-size-4;
                                    line-height: 1.3;
                                    color: $primary-color;
                                    text-align: left;
                                    text-wrap: wrap;
                                }

                                .card-info-credit {
                                    display: flex;
                                    flex-direction: row;
                                    font-size: $font-size-2;
                                    font-weight: 700;
                                    line-height: 1.6;
                                    font-stretch: condensed;

                                    p {
                                        color: $primary-color;
                                    }
    
                                    time {
                                        color: $secondary-color;
                                        padding-left: 1em;
                                    }
                                }
                            }
                        }
                    }
                }

                .destacados {
                    display: flex;
                    flex-direction: column;
                    //justify-content: center;
                    //align-items: flex-start;

                    h3 {
                        font-size: $font-size-5;
                        line-height: 1.3;
                        margin: 0 0 1.5rem;
                        text-align: left;
                    }

                    .destacados-galeria {
                        background-color: yellow;
                        display: grid;
                        width: 100%;
                        height: fit-content;

                        gap: 1.5em;
                        @include mobile {
                            grid-template-columns: repeat(2, 1fr);
                            grid-template-rows: repeat(3, 1fr);
                        }
                        @include tablet {
                            grid-template-columns: repeat(4, 1fr);
                            grid-template-rows: repeat(2, 1fr);
                        }
                        @include pc {
                            grid-template-columns: repeat(4, 1fr);
                            grid-template-rows: repeat(2, 1fr);
                        }

                        a {
                            display: flex;
                            flex-direction: column;
                            box-shadow: 0 0 40px -25px transparent;
                            
                            #galeria-img-first {
                                background-image: url("../images/FullScreen\ GTA.png");
                                @include destacados-galeria-style;
                                grid-column: 1 / span 4;
                                background-size: contain;
                                border-radius: 8px;
    
                                @include mobile {
                                    grid-column: 1 / span 2;
                                    aspect-ratio: 16/9;
                                }
                                @include pc {
                                    grid-column: 1 / span 4;
                                    aspect-ratio: 10/3;
                                }
                            }
    
                            #galeria-img2 {
                                background-image: url("../images/GTA-V.jpg");
                                @include destacados-galeria-style;
                            }
    
                            #galeria-img3 {    
                                background-image: url("../images/GTA-Online.jpg");
                                @include destacados-galeria-style;
                            }
    
                            #galeria-img4 {
                                background-image: url("../images/RDR2.jpg");
                                @include destacados-galeria-style;
                                border-radius: 8px;
                            }
                            #galeria-img5 {    
                                background-image: url("../images/RDR.jpg");
                                @include destacados-galeria-style;
                                border-radius: 8px;
                            }
                        }
                    }
                }
            }

            .main-last {
    
                .suscribe {
                    display: flex;
    
                    .suscribe-container {
                        display: flex;
                    }
                }
            }
        }
    }

    footer {
        display: flex;
    }
}
